build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/CMakeCache.txt
build/compile_commands.json
build/POWER_BOARD.bin
build/POWER_BOARD.elf
build/POWER_BOARD.map
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/git-data/head-ref
build/bootloader/.bin_timestamp
build/bootloader/.ninja_deps
build/bootloader/.ninja_log
build/bootloader/bootloader.bin
build/bootloader/bootloader.elf
build/bootloader/build.ninja
build/bootloader/CMakeFiles/CMakeOutput.log
build/bootloader/config/sdkconfig.cmake
build/bootloader/config/sdkconfig.h
build/bootloader/config/sdkconfig.json
build/bootloader/esp-idf/bootloader_support/libbootloader_support.a
build/bootloader/esp-idf/bootloader_support/CMakeFiles/__idf_bootloader_support.dir/src/bootloader_init.c.obj
build/bootloader/esp-idf/esp_app_format/libesp_app_format.a
build/bootloader/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/config/sdkconfig.cmake
build/config/sdkconfig.h
build/config/sdkconfig.json
build/esp-idf/driver/libdriver.a
build/esp-idf/driver/CMakeFiles/__idf_driver.dir/i2c.c.obj
build/esp-idf/driver/CMakeFiles/__idf_driver.dir/deprecated/adc_dma_legacy.c.obj
build/esp-idf/driver/CMakeFiles/__idf_driver.dir/i2s/i2s_common.c.obj
build/esp-idf/driver/CMakeFiles/__idf_driver.dir/rmt/rmt_tx.c.obj
build/esp-idf/esp-tls/libesp-tls.a
build/esp-idf/esp-tls/CMakeFiles/__idf_esp-tls.dir/esp_tls.c.obj
build/esp-idf/esp_adc/libesp_adc.a
build/esp-idf/esp_adc/CMakeFiles/__idf_esp_adc.dir/adc_continuous.c.obj
build/esp-idf/esp_app_format/libesp_app_format.a
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/esp-idf/esp_eth/libesp_eth.a
build/esp-idf/esp_eth/CMakeFiles/__idf_esp_eth.dir/src/esp_eth_phy_802_3.c.obj
build/esp-idf/esp_http_server/libesp_http_server.a
build/esp-idf/esp_http_server/CMakeFiles/__idf_esp_http_server.dir/src/httpd_main.c.obj
build/esp-idf/esp_hw_support/libesp_hw_support.a
build/esp-idf/esp_hw_support/CMakeFiles/__idf_esp_hw_support.dir/port/esp32c3/esp_ds.c.obj
build/esp-idf/esp_lcd/libesp_lcd.a
build/esp-idf/esp_lcd/CMakeFiles/__idf_esp_lcd.dir/src/esp_lcd_panel_nt35510.c.obj
build/esp-idf/esp_lcd/CMakeFiles/__idf_esp_lcd.dir/src/esp_lcd_panel_ssd1306.c.obj
build/esp-idf/esp_lcd/CMakeFiles/__idf_esp_lcd.dir/src/esp_lcd_panel_st7789.c.obj
build/esp-idf/esp_wifi/libesp_wifi.a
build/esp-idf/esp_wifi/CMakeFiles/__idf_esp_wifi.dir/esp32c3/esp_adapter.c.obj
build/esp-idf/esp_wifi/CMakeFiles/__idf_esp_wifi.dir/src/smartconfig_ack.c.obj
build/esp-idf/fatfs/libfatfs.a
build/esp-idf/fatfs/CMakeFiles/__idf_fatfs.dir/port/freertos/ffsystem.c.obj
build/esp-idf/freertos/libfreertos.a
build/esp-idf/freertos/CMakeFiles/__idf_freertos.dir/FreeRTOS-Kernel/portable/port_systick.c.obj
build/esp-idf/freertos/CMakeFiles/__idf_freertos.dir/FreeRTOS-Kernel/portable/riscv/port.c.obj
build/esp-idf/log/liblog.a
build/esp-idf/log/CMakeFiles/__idf_log.dir/log_freertos.c.obj
build/esp-idf/lwip/liblwip.a
build/esp-idf/lwip/CMakeFiles/__idf_lwip.dir/apps/ping/ping_sock.c.obj
build/esp-idf/lwip/CMakeFiles/__idf_lwip.dir/port/esp32/freertos/sys_arch.c.obj
build/esp-idf/main/libmain.a
build/esp-idf/main/CMakeFiles/__idf_main.dir/freertos_tasks.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/hal_func.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/hal_init.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/hal_wifi.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/hal.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj
build/esp-idf/main/CMakeFiles/__idf_main.dir/power_board_main.c.obj
build/esp-idf/mbedtls/mbedtls/library/libmbedcrypto.a
build/esp-idf/mbedtls/mbedtls/library/CMakeFiles/mbedcrypto.dir/F_/Espressif/esp-idf/components/mbedtls/port/esp_bignum.c.obj
build/esp-idf/mbedtls/mbedtls/library/CMakeFiles/mbedcrypto.dir/F_/Espressif/esp-idf/components/mbedtls/port/aes/dma/esp_aes.c.obj
build/esp-idf/mbedtls/mbedtls/library/CMakeFiles/mbedcrypto.dir/F_/Espressif/esp-idf/components/mbedtls/port/crypto_shared_gdma/esp_crypto_shared_gdma.c.obj
build/esp-idf/mbedtls/mbedtls/library/CMakeFiles/mbedcrypto.dir/F_/Espressif/esp-idf/components/mbedtls/port/esp_ds/esp_rsa_sign_alt.c.obj
build/esp-idf/mqtt/libmqtt.a
build/esp-idf/mqtt/CMakeFiles/__idf_mqtt.dir/esp-mqtt/mqtt_client.c.obj
build/esp-idf/newlib/libnewlib.a
build/esp-idf/newlib/CMakeFiles/__idf_newlib.dir/time.c.obj
build/esp-idf/protocomm/libprotocomm.a
build/esp-idf/protocomm/CMakeFiles/__idf_protocomm.dir/src/transports/protocomm_console.c.obj
build/esp-idf/pthread/libpthread.a
build/esp-idf/pthread/CMakeFiles/__idf_pthread.dir/pthread_cond_var.c.obj
build/esp-idf/pthread/CMakeFiles/__idf_pthread.dir/pthread.c.obj
build/esp-idf/sdmmc/libsdmmc.a
build/esp-idf/sdmmc/CMakeFiles/__idf_sdmmc.dir/sdmmc_cmd.c.obj
build/esp-idf/sdmmc/CMakeFiles/__idf_sdmmc.dir/sdmmc_io.c.obj
build/esp-idf/spi_flash/libspi_flash.a
build/esp-idf/spi_flash/CMakeFiles/__idf_spi_flash.dir/spi_flash_os_func_app.c.obj
build/esp-idf/vfs/libvfs.a
build/esp-idf/vfs/CMakeFiles/__idf_vfs.dir/vfs.c.obj
build/esp-idf/wifi_provisioning/libwifi_provisioning.a
build/esp-idf/wifi_provisioning/CMakeFiles/__idf_wifi_provisioning.dir/src/manager.c.obj
build/log/idf_py_stderr_output_49376
build/log/idf_py_stdout_output_49376
